header{
    min-height: 100px;
    background-color:#B1E85F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
}

header img{
    max-width: 20px;
}

.logout{
    display: flex;
    margin-right: 2%;
}

.logout p{
    padding-right: 0.009%;

}

h1 a{
    text-decoration: none;
    color: black;
}